<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Telegram Arijit</title>
    <meta name="description" content="A simple IFTTT pinger for Arijit">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- import the webpage's stylesheet -->
    <link rel="stylesheet" href="style.css">
    <script
      src="https://code.jquery.com/jquery-3.3.1.min.js"
      integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
      crossorigin="anonymous"></script>
    <base href="{{BASE_URL}}/"></base>
  </head>
  <body>
    <main>
      <div class="form">
        <p>
          If you want to reach Arijit urgently, use this form. 
          Don't forget to include your name. 
          This will ping to his private IFTTT trigger... and the rest will follow...
        </p>
        <p id="error">Please enter your message</p>
        <textarea id="name" placeholder="enter your message"></textarea>
        <button id="submit">PING!</button>
      </div>
    </main>
    
    <script src="client.js"></script>

  </body>
</html>
